/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

.hero__title {
  font-size: 4rem;
  font-family: 'Walter Turncoat', cursive !important;
  animation: fadeIn 1.2s ease-out;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
    0 0 40px rgba(255, 255, 255, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Ensure it stays white in dark mode too */
[data-theme='dark'] .hero__title {
  color: white !important;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9d2235;
  --ifm-color-primary-dark: #8d1f30;
  --ifm-color-primary-darker: #851d2d;
  --ifm-color-primary-darkest: #6e1825;
  --ifm-color-primary-light: #ad253a;
  --ifm-color-primary-lighter: #b5273d;
  --ifm-color-primary-lightest: #cc2c45;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff3858;
  --ifm-color-primary-dark: #ff193e;
  --ifm-color-primary-darker: #ff0931;
  --ifm-color-primary-darkest: #f90028;
  --ifm-color-primary-light: #ff5772;
  --ifm-color-primary-lighter: #ff677f;
  --ifm-color-primary-lightest: #ff7087;
  --ifm-footer-background-color: black;
}

.medium-zoom-overlay{
  /*background-color: #00a400 !important;*/
  z-index: 999;
}

.medium-zoom-image--opened{
  z-index: 1000;
}

#atlwdg-trigger.atlwdg-trigger.atlwdg-RIGHT{
  background-color: #9d2235;
}
