@import url('https://fonts.googleapis.com/css2?family=Margarine&family=Walter+Turncoat&display=swap');

html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.excalidraw .sidebar-trigger {
  display: none !important;
}
